@import "https://fonts.googleapis.com/css2?family=Staatliches&display=swap";
@import "https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  font-family: 'Syne';
}

.carousel-inner {
  height: auto; /* Allow the carousel to grow to fit content */
}

.carousel-item img {
  width: 100%; /* Image fills the width */
  height: 100%; /* Image height fits container */
  object-fit: cover; /* Ensures image covers the entire space */
}

.card-body {
  padding: 15px; /* Add space around the text */
  background-color: white;
  border-radius: 0 0 15px 15px;
}
